.container {
  width: 100%;
  height: 100%;
  color: white;
}

.hero-section {
  height: 100vh;
  width: 100%;
  background-image: url("../assets/bg-image.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.heading-section {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding-left: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.heading {
  font-size: 4.7rem;
  margin-bottom: 1rem;
  border-bottom: 7px solid #edd5d4;
}

.overview {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.gradient {
  width: 100%;
  background: linear-gradient(#ba6a75, #c87d92);
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-bottom: 4rem;
}

.gridCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

.card {
  background-color: #843850;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.card h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.highlight {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
  text-transform: uppercase;
  padding: 3.5rem 0rem 5rem 2rem;
  text-align: center;
  letter-spacing: 0.5em;
}

.highlightDesc {
  font-size: 1.25rem;
  line-height: 1.5;
}

footer {
  height: 80vh;
  width: 100%;
  position: relative;
}

.footer-quote {
  height: 40vh;
  width: 100%;
  background-color: #d68696;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-style: italic;
}

.footer-social-handles {
  height: 40vh;
  width: 100%;
  background-color: #944661;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.social-media-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #944661;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 22px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.social-media-logo:hover {
  box-shadow: 0 0 10px white;
  transform: scale(1.1);
}
