.job-listings-container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 3rem;
  color: white;
  font-size: 1.5rem;
}

.job-listings-container h2 {
  text-align: center;
}

.job-listings {
  list-style: none;
  padding: 0;
  margin-top: 1.25rem;
  color: white;
}

.job-item {
  background-color: #f9f9f9;
  border-radius: 0.3125rem;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: #843850;
  color: white;
}

.job-item:hover {
  transform: translateY(-0.3125rem);
}

.job-item h3 {
  margin-bottom: 0.625rem;
  font-size: 1.5rem;
}

.job-item p {
  margin: 0;
  font-size: 1.2rem;
}

.location {
  font-style: italic;
}

button {
  padding: 10px 20px;
  margin-top: 1.3rem;
  border: none;
  border-radius: 20px;
  color: #843850;
  background-color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-container {
  margin-top: 1rem;
}

.input-container input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

.input-container input::placeholder {
  color: #999;
}

.input-container input:focus {
  border-color: #843850;
}

.details-button {
  margin-top: 10px;
}

.description-container {
  padding-top: 10px;
}
